<div class="container my-4 fadeIn">
    <div class="card text-center welcome-proactiva my-5">
        <div class="card-header p-5">
            <img src="./assets/partners/proactiva/logo-proactiva-fondo.png" class="rounded mx-auto d-block w-25" alt="..." />
        </div>
        <div class="card-body p-5">
            <h3 class="card-title">Potencia y agilidad para tu negocio, con la atención que te mereces como cliente.</h3>
        </div>
    </div>

    <hr>

    <div class="container my-5 py-4 text-center seccionProactiva">
        <div class="col-12">
            <h1>Líderes en Latinoamérica</h1>
            <p class="p-3 ">Nuestra expansión internacional es resultado del compromiso con el cliente, la calidad, la excelencia y el talento de las personas de nuestro equipo.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 metricas" *ngFor="let item of metricasLideres">
                <span class="fs-1 fw-bold">{{item.valor}}</span>
                <p class="fs-5 fw-semibold">{{item.desc}}</p>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-lg-3 pb-3">
                <img class="w-75 gartner-peer-insights" src="./assets/partners/proactiva/Gartner-Peer-Insights-2021-logo.png" alt="Gartner-Peer-Insights-2021-logo">
            </div>
            <div class="col-lg-9 pt-lg-5">
                <h4>En 2023, hemos sido reconocidos en <span class="fw-bold">"The Gartner Market Guide for ITSM Tools"</span>.</h4>
            </div>
        </div>
    </div>

    <hr>

    <div class="container my-5 py-4 text-center seccionProactiva">
        <div class="col-12">
            <h1>Soporte local y en español</h1>
            <p class="p-3 ">Proactivanet tiene oficinas en 5 países</p>
        </div>
        <div class="row mb-5">
            <div class="col-xl-1"></div>
            <div *ngFor="let item of soportePais" class="{{item.clases}}">
                <div class="card">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="45" fill="currentColor" s class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{item.pais}}</h5>
                        <p class="card-text">{{item.direccion}}</p>
                        <p class="card-text"><span class="fw-bold">{{item.ciudad}}</span></p>
                        <p class="card-text">Teléfono: <span class="fw-bold">{{item.telefono}}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <h4><i class="bi bi-star-fill" style="color: #009fd7;"></i> y presencia en más de 15 países en toda Latinoamérica.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 metricas" *ngFor="let item of metricasSoporte">
                <span class="fs-1 fw-bold">{{item.valor}}</span>
                <p class="fs-5 fw-semibold">{{item.desc}}</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="container mt-5 pt-3">
        <h1>Visualiza todos tus activos TI y mejora la experiencia Roadmap Proactivanet de tus usuarios</h1>
        <div class="row">
            <div class="col-12">
                <img class="w-100" src="./assets/partners/proactiva/hoja_ruta_web.png" alt="roadmap">
            </div>
        </div>
    </div>

    <hr>

    <div class="container mt-5 pt-3">
        <h1>Calidad certificada</h1>

        <div class="row mt-5">
            <div class="col-md-12 col-lg-4">
                <img class="certificaciones" src="./assets/partners/proactiva/ServiceDesk_HighPerformer_HighPerformer.png" alt="ServiceDesk_HighPerformer_1">
            </div>
            <div class="col-md-12 col-lg-4 pt-lg-3">
                <img class="certificaciones" src="./assets/partners/proactiva/ServiceDesk_HighPerformer_LatinAmerica_HighPerformer.png" alt="ServiceDesk_HighPerformer_2">
            </div>
            <div class="col-md-12 col-lg-4">
                <img class="certificaciones" src="./assets/partners/proactiva/ServiceDesk_HighPerformer_Mid-Market_HighPerformer.png" alt="ServiceDesk_HighPerformer_3">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 col-lg-6 mt-lg-5">
                <img class="certificaciones" src="./assets/partners/proactiva/Pink_Verify_16_Procesos.png" alt="Pink_Verify_16_Procesos">
            </div>
            <div class="col-md-12 col-lg-6 mt-5 mt-lg-0">
                <img class="peoplecert certificaciones" src="./assets/partners/proactiva/PeopleCert_Proactivanet-v10-Bronze-15.png" alt="PeopleCert_Proactivanet">
            </div>
        </div>
    </div>

    <hr>

    <div class="container p-5 text-center">
        <div class="row">
            <div class="col-md-6 fondo-clientes">
                <h1>Clientes</h1>
                <h4>Ya hemos ayudado a más de 50 empresas chilenas.</h4>
            </div>
            <div class="col-md-6 mt-sm-3 mt-md-0">
                <img class="w-100 img-thumbnail" src="./assets/partners/proactiva/sprite-clientes-1.png" alt="sprite-clientes-1.png">
            </div>
        </div>
    </div>
    <hr>

    <div class="container p-5 text-center">
        <div class="row">
            <div class="col-md-6 fondo-clientes">
                <h1>Clientes</h1>
                <h4>Más de 400 en todo el mundo.</h4>
                <h5>70% de la actividad en Latinoamérica.</h5>
            </div>
            <div class="col-md-6 mt-sm-3 mt-md-0">
                <img class="w-100 img-thumbnail" src="./assets/partners/proactiva/sprite-clientes-2.png" alt="sprite-clientes-2.png">
            </div>
        </div>
    </div>

    <hr>

    <div class="container my-5 py-4 text-center seccionProactiva contactoProactiva">
        <a href="https://www.proactivanet.com/" target="_blank"><img class="w-50 img-thumbnail mb-4 banner" src="./assets/partners/proactiva/logo_proactivanet-letragruesa.jpg" alt="logo_proactivanet-letragruesa"></a>
        <p><i class="bi bi-geo-alt-fill"></i> Huérfanos 830, Of. 09-117, Santiago Centro</p>
        <p><i class="bi bi-envelope-at"></i><a class="link-dark" href="mailto:comercial.chile@proactivanet.com"> comercial.chile&#64;proactivanet.com</a></p>
        <p><i class="bi bi-link"></i><a href="https://www.proactivanet.com/" target="_blank"> www.proactivanet.com</a></p>
    </div>



</div>