.fadeIn {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
}

.welcome-proactiva .card-header {
    background: url("../../../assets/partners/proactiva/fondo-azul-1.png");
    background-position: center;
}

.seccionProactiva {
    background-image: linear-gradient( #fff, #c4e4f4);
    border-radius: 12px;
}

h1,
.seccionProactiva svg {
    color: #009fd7;
    text-align: center;
}

.texto-modulo-discovery {
    text-align: justify;
}

.contactoProactiva a {
    color: black;
    text-decoration: none;
}

.contactoProactiva a:hover {
    text-decoration: underline;
    font-weight: bold;
}

@media (min-width: 992px) {
    .metricas {
        border-left: #009fd7 solid 4px;
    }
    .metricas:last-child {
        border-right: none;
    }
    .metricas:first-child {
        border-left: none;
    }
}

@media (max-width: 992px) {
    .metricas {
        border: none;
    }
    .metricas {
        border-bottom: #009fd7 solid 1px;
    }
    .metricas:last-child {
        border-bottom: none
    }
    .gartner-peer-insights {
        width: 30% !important;
    }
}

@media (max-width: 1200px) {
    .card-pais {
        margin-bottom: 15px;
    }
}

@media (min-width: 1200px) {
    .card-pais .card {
        height: 340px;
    }
}