<div class="container my-4 fadeIn">
    <div class="card text-center welcome-proactiva my-5">
        <div class="card-header p-5">
            <img src="./assets/partners/proactiva/logo-proactiva-fondo.png" class="rounded mx-auto d-block w-25" alt="..." />
        </div>
        <div class="card-body p-5">
            <h3 class="card-title">En nuestro sector, solo conozco dos ingredientes para hacer bien las cosas: el talento de las personas de nuestro equipo, y el compromiso que tengamos con el éxito de nuestros clientes. No hay más.</h3>
            <P class="fw-lighter text-end mt-4">Isabel Lombardia, Co-founder de Proactivanet</P>
        </div>
    </div>

    <hr>

    <div class="container my-5 py-4 text-center seccionProactiva">
        <div class="col-12">
            <h1>Lideres en latino america</h1>
            <p class="p-3 ">Nuestra expansión internacional es resultado del compromiso con el cliente, la calidad, la excelencia y el talento de las personas de nuestro equipo.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 metricas" *ngFor="let item of metricasLideres">
                <span class="fs-1 fw-bold">{{item.valor}}</span>
                <p class="fs-5 fw-semibold">{{item.desc}}</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="container my-5 py-4 text-center seccionProactiva">
        <div class="col-12">
            <h1>Soporte Local y en español</h1>
            <p class="p-3 ">Proactivanet tiene oficinas en 5 países</p>
        </div>
        <div class="row mb-5">
            <div class="col-xl-1"></div>
            <div *ngFor="let item of soportePais" class="{{item.clases}}">
                <div class="card">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="45" fill="currentColor" s class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{item.pais}}</h5>
                        <p class="card-text">{{item.direccion}}</p>
                        <p class="card-text"><span class="fw-bold">{{item.ciudad}}</span></p>
                        <p class="card-text">Teléfono: <span class="fw-bold">{{item.telefono}}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <h4><i class="bi bi-star-fill" style="color: #009fd7;"></i> y presencia en mas de 15 paises en toda latinoamerica.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 metricas" *ngFor="let item of metricasSoporte">
                <span class="fs-1 fw-bold">{{item.valor}}</span>
                <p class="fs-5 fw-semibold">{{item.desc}}</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="container my-5 py-4 text-center">
        <div class="row">
            <div class="col-12 mb-5">
                <img class="w-25" src="./assets/partners/proactiva/logo_vertical_color.png" alt="logo_vertical_color">
            </div>
            <div class="col-12 texto-modulo-discovery">
                <p>Nuestros módulos de Discovery & Gestión de Activos. Service Desk y CMDB ayudan a nuestros clientes a llevar sus prácticas de ITSM al siguiente nivel de madurez de una forma ágil. Ademais, apoyan la gestión de TI para aumentar la productividad,
                    automatizar procesos, mejorar el control, disminuir riesgos y reducir costes de operación aportando valor al negocio.
                </p>
                <p>Estamos catalogados por el Ministerio de Ciencia e Innovación de España como Pyme Innovadora. Este sello nos ha sido otorgado por realizar actividades en el campo de la investigación, el desarrollo tecnológico y la innovación (I+D+i) con
                    el fin de ayudar a nuestros clientes a automatizar sus procesos y gestionar de forma óptima sus activos y sus servicios de TI. Proactivanet tiene 15 prácticas certificadas nivel Bronce con PeopleCert, único esquema de certificación
                    ITIL oficial para herramientas. También, contamos con 16 procesos ITSM certificados por PinkVerify de Pink Elephant.
                </p>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-lg-3 pb-3">
                <img class="w-75 gartner-peer-insights" src="./assets/partners/proactiva/Gartner-Peer-Insights-2021-logo.png" alt="Gartner-Peer-Insights-2021-logo">
            </div>
            <div class="col-lg-9 pt-xl-3 pt-xxl-5">
                <h4>En 2023, hemos sido reconocidos en <span class="fw-bold">"The Gartner Market Guide for ITSM Tools"</span> el nuevo informe que sustituye al "Magic Quadrant".</h4>
            </div>
        </div>

        <div class="row py-2">
            <div class="col-12 texto-modulo-discovery">
                <p>En 2021, Proactivanet fué la herramienta mejor valorada en el Customers' Choice en Gartner Peer Insights de herramientas ITSM.</p>
                <p>En 2022 y 2023 nuestros clientes reflejaron un alto nivel de satisfacción en la plataforma G2, por ello Proactivanet recibió las distinciones de High Performer de ITAM & Service Desk en Latinoamérica, Momentum Leader formando parte del
                    25% de los mejores Service Desk a nivel mundial.
                </p>
            </div>
        </div>
    </div>

    <hr>

    <div class="container my-5 py-4 text-center seccionProactiva">
        <div class="row">
            <div class="col-md-6">
                <h1>Clientes</h1>
                <h4>ya hemos ayudado a mas de 50 empresas chilenas.</h4>
            </div>
            <div class="col-md-6">
                <img class="w-100 img-thumbnail" src="./assets/partners/proactiva/sprite-clientes-1.png" alt="sprite-clientes-1.png">
            </div>
        </div>
    </div>

    <hr>

    <div class="container my-5 py-4 text-center seccionProactiva">
        <div class="row">
            <div class="col-md-6">
                <h1>Clientes</h1>
                <h4>Más de 400 en todo el mundo.</h4>
                <h5>70% de la actividad en Latinoamérica.</h5>
            </div>
            <div class="col-md-6">
                <img class="w-100 img-thumbnail" src="./assets/partners/proactiva/sprite-clientes-2.png" alt="sprite-clientes-2.png">
            </div>
        </div>
    </div>

    <hr>

    <div class="container my-5 py-4 text-center seccionProactiva contactoProactiva">
        <a href="https://www.proactivanet.com/" target="_blank"><img class="w-50 img-thumbnail mb-4" src="./assets/partners/proactiva/logo_proactivanet-letragruesa.jpg" alt="logo_proactivanet-letragruesa"></a>
        <p><i class="bi bi-geo-alt-fill"></i> Huérfanos 830, Of. 09-117, Santiago Centro</p>
        <p><i class="bi bi-envelope-at"></i><a class="link-dark" href="mailto:comercial.chile@proactivanet.com"> comercial.chile&#64;proactivanet.com</a></p>
        <p><i class="bi bi-link"></i><a href="https://www.proactivanet.com/" target="_blank"> www.proactivanet.com</a></p>
    </div>



</div>