footer {
    background: linear-gradient(to right, #fff 20%, #81b5e8 50%, #9f83d4, #db3eb8);
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
}

@media (max-width: 1000px) {
    #footerSeparator {
        display: none;
    }
}