<div class="container">
    <div id="mainCarousel" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="assets/images/slide1.png" class="d-block w-100" alt="slide_1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>ITSM e ITAM</h5>
                    <p>Preventa e implementación de soluciones ITSM e ITAM bajo las mejores prácticas de ITIL, permitiendo compartir este conocimiento a sus clientes como parte de su servicio integral</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="assets/images/slide2.png" class="d-block w-100" alt="slide_2">
                <div class="carousel-caption d-none d-md-block text-end">
                    <h5 style="color: #fff;">Amara Consultores</h5>
                    <p style="color: #fff;">Amara Consultores SpA cuenta con un equipo con<br> más de 15 años de experiencia en servicios consultivos</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>