<div class="container mt-4 text-center">
    <div class="row">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <img src="assets/images/empresa.jpg" class="card-img-top" alt="Empresa">
                    <div class="card-body">
                        <h5 class="card-title">Conócenos</h5>
                        <p class="card-text">Amara Consultores SpA nace con un objetivo claro: Apoyar a sus clientes mediante tecnología, procesos y mejores prácticas, permitiendo que sus clientes logren concretar de manera exitosa sus proyectos y acompañarlos en futuros
                            desafíos.
                        </p>
                        <!--a href="#" class="btn btn-primary">Go somewhere</a-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img src="assets/images/valores.jpg" class="card-img-top" alt="Valores">
                    <div class="card-body">
                        <h5 class="card-title">Nuestros Valores</h5>
                        <p class="card-text">Trabajaremos siempre para que cada propuesta que entreguemos sea la más adecuada para acompañar sus desafíos y frente a cualquier duda o requerimiento siempre estaremos disponibles para nuestros clientes.</p>
                        <!--a href="#" class="btn btn-primary">Go somewhere</a-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>