#navMain {
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 50%, #81b5e8 50%);
}

#navMain:only-child nav {
    padding-left: 50px;
}

#mainAmaraImg {
    width: 140px;
}

@media (max-width: 992px) {
    #mainAmaraImg {
        width: 90px;
    }
}

@media (max-width: 516px) {
    #mainAmaraImg {
        width: 90px;
    }
    #navMain {
        background: linear-gradient( 45deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 80%, #81b5e8 80%);
    }
}