.fadeIn {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#mainIvanti {
    background-image: url("../../../assets/partners/ivanti/mainAvanti.png");
    text-align: center;
    color: #fff;
    border-radius: 12px;
    object-fit: cover;
    background-position: center;
}

#mainIvanti p {
    font-size: medium;
    font-weight: 400;
}

.imgSeccion {
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
}

.icon-border-round {
    width: 80px;
    height: 80px;
    border-color: #f00;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
}

.icon-border-round svg {
    color: #f00;
    width: 40px;
    height: 40px;
}

#bannerIvanti {
    border-radius: 12px;
}

@media (max-width: 1400px) {
    #avantiSection1 .row {
        text-align: -webkit-center;
    }
}

@media (max-width: 1199px) {
    .imgSeccion {
        display: none;
    }
}

@media (min-width: 1400px) {
    .imgSeccion {
        margin-top: 40px;
        max-width: 70%;
    }
}