<div class="container pt-5">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center py-3">PRODUCTOS</h1>
        </div>
        <div class="col-md-12 col-lg-6 py-3">
            <img src="assets/images/slide1.png" class="img-thumbnail" alt="ITIL">
        </div>
        <div class="col-md-12 col-lg-6 py-3 mt-lg-0 mt-xl-5">
            <ul id="listadoProd" class="list-group">
                <li class="list-group-item p-4" *ngFor="let item of productos">{{item}}</li>
            </ul>
        </div>

    </div>
</div>