<div class="container">
    <div class="row">
        <div class="textoItil col-md-12 col-lg-6">
            <h2 style="text-align: left;">ITIL 4</h2>
            <p>Ha liderado la industria de la Gestión de Servicios TI(ITSM), con orientación, entrenamiento y programas de certificación durante más de 30 años, permitiendo proporcionar la guía que necesitan las organizaciones para abordar los nuevos desafíos
                de la gestión de servicios y utilizar el potencial de la tecnología moderna y está diseñado para garantizar un sistema flexible, coordinado e integrado para el gobierno y la gestión efectiva de los servicios habilitados por TI.</p>
        </div>
        <div class="col-md-12 col-lg-6 py-3">
            <img src="assets/images/estrategia.jpg" class="img-thumbnail" alt="ITIL">
        </div>

    </div>
</div>